@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #171717;
    color: #fff;
}

li {
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}
li:hover::before, .active::before {
        content: ""; 
        position: absolute; 
        top: 100%; 
        left: 55%; 
        transform: translate(-100%, -55%); 
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
        background: linear-gradient(90deg, #4434F6, #8345FF); 
}


